/* Website Styles */

header a {
    font-size: smaller;
    color: darkturquoise;
}



body{
    background-color: aliceblue;
    color: black;
    font-family: "Noto Sans Tagalog", sans-serif;
    font-size: 14px;
    font-weight: 700;
    h4{
        font-style: oblique;
    }
    }

h1{
    text-align: center;
    color:darkturquoise;
}
h2{
    color:cadetblue;
}
h3{
    text-decoration: underline;
    color:darkcyan;
}
p {
    line-height: 2;
}

