* {
    background-color: aliceblue;
    color: black;
    font-family: "Noto Sans Tagalog", sans-serif;
    box-sizing: border-box;
    margin: 5px;
    background-image: url("./images/pixel-heart.webp");
    background-attachment: fixed;
}
/* Website Styles */

header a {
    font-size: smaller;
    color: darkturquoise;
}

header h1 {
    margin: 50px 35px 10px;
    border-bottom: 1px solid black;
    background-color: aliceblue;
}

body{
    background-color: aliceblue;
    color: black;
    font-family: "Noto Sans Tagalog", sans-serif;
    font-size: 14px;
    font-weight: 700;
    }

h1{
    text-align: center;
    font-size: 60px;
    color:darkturquoise;
    margin: 50px;
    padding: 10px;
}

.menu {
    padding: 10px;
}

h2{
    text-align: center;
    color:cadetblue;
}

section a {
    color: blue;
    text-align: left;
}

#food {
    text-align: center;
}


div h3 {
    text-align: center;
}

.first {
    font-size: 18px;
    text-align: center;
    text-decoration: none;

}

h3{
    text-align: center;
    text-decoration: underline;
    color:darkcyan;
    
}

p {
    font-size: 16px;
    line-height: 2;
    text-align: center;
}

p em strong {
    font-size: 16px;
}

.meow {
    width: 100%;
    height: 100px;
    max-width: 1000px;
    margin: auto;
}

footer {
    border-top: 2px solid cadetblue;
}

.hold {
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}

.face {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}

h4 {
    text-decoration: underline;
    color:darkcyan;
}

& {
    text-align: center;
}


